<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <!-- ============================= -->
    <!-- Properties -->
    <!-- ============================= -->

    <property name="APP_NAME" value="sastracare"/>
    <property name="LOG_DIR" value="${LOG_PATH:-${user.dir}/logs}"/>
    <property name="LOG_FILE" value="${LOG_DIR}/${APP_NAME}.log"/>

    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss} %-5level [%thread] %logger{36} - %msg%n"/>

    <!-- ============================= -->
    <!-- Console Appender -->
    <!-- ============================= -->

    <appender name="CONSOLE"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ============================= -->
    <!-- Rolling File Appender -->
    <!-- ============================= -->

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${LOG_FILE}</file>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">

            <!-- Daily rollover -->
            <fileNamePattern>
                ${LOG_DIR}/${APP_NAME}.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>7</maxHistory>
            <totalSizeCap>250MB</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ============================= -->
    <!-- Log Levels -->
    <!-- ============================= -->

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="com.parentapp" level="INFO"/>

    <!-- ============================= -->
    <!-- Root Logger -->
    <!-- ============================= -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>


</configuration>